<section class="flex flex-col sm:flex-row items-center justify-end my-10 gap-4">
  <div class="search-code relative flex items-center w-full sm:w-auto">
    <p-inputNumber class="w-full sm:w-48" placeholder="código do produto" inputId="integeronly" [(ngModel)]="code"
      [style]="{'width':'100%'}" locale="pt-BR" />
  </div>

  <div class="flex gap-4 w-full sm:w-auto">
    <p-dropdown class="w-full sm:w-48" [options]="categoryOptions" [(ngModel)]="category" optionLabel="label"
      optionValue="value" placeholder="selecione a categoria" [style]="{'width':'100%'}" />

    <p-button severity="primary" label="Buscar" (click)="onSearch()"></p-button>
  </div>
</section>