<div class="flex flex-col max-w-7xl px-4 my-10 mx-auto gap-10">
  <a routerLink="/" class="p-button p-button-secondary p-button-sm w-fit">
    <ng-icon name="heroChevronDoubleLeft" size="1rem" class="mr-2"></ng-icon>
    <strong>Voltar para Lista de Produtos</strong>
  </a>

  <div class="flex items-center">
    <h1 class="text-3xl">Editar Produto</h1>
  </div>
  <p class="font-normal text-base -mt-4">Edite o nome ou a categoria deste produto</p>

  <div class="flex flex-col sm:flex-row gap-4">
    <div class="flex flex-col gap-2 w-64">
      <label for="productName">Nome</label>
      <input pInputText id="productName" aria-describedby="nome-do-produto" [(ngModel)]="productName"
        placeholder="nome do produto" />
    </div>
    <div class="flex flex-col gap-2 w-64">

      <label for="category">Categoria</label>
      <p-dropdown class="w-64" id="category" [options]="categoryOptions" [(ngModel)]="category" optionLabel="label"
        optionValue="value" placeholder="nova categoria" [style]="{'width':'100%'}" />
    </div>
  </div>

  <p-button (click)="onEdit()" severity="primary" label="Salvar" size="small"></p-button>
</div>